html {
    background-color: #1a1a1a;
}

.sticky {
    position: sticky;
    top: -75px;
    z-index: 1000;
}

.pinned {
    border-bottom: 2px solid white;
}

.header {
    background-color: #33323c;
}
